@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: quicksand;
  text-decoration: none;
}


@keyframes AnimBG {
  0% {
    background: #1e1e20;
  }
  50% {
    background: #962134;
  }
  100% {
    background: #1e1e20;
  }
}

@keyframes Text {
  0% {
    color: #962134;
  }
  50% {
    color: #1e1e20;
  }
  100% {
    color: #962134;
  }
}
.anim{
  animation: AnimBG 2s infinite;

}
.homeTxt{
  animation: Text 2s infinite;

}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}